html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    height: 500px;
    width: 300px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header h1 {
    font-size: 24px;
    margin: 0;
    padding: 10px;
    color: #333;
    align-content: flex-start;
}

.tabs-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    background-color: aquamarine;
}

#power-toggle {
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    align-content: flex-end;
    transition: all 0.3s ease;
    /* Makes the "glow" fade in smoothly */
    outline: none;
    margin: 10px;
}

.off {
    background-color: #e74c3c;
    color: white;
}

.on {
    background-color: #2ecc71;
    color: white;
    box-shadow: 0 0 20px #2ecc71;
    /* Creates the "glow" effect */
    transform: translateY(-2px);
}

#power-toggle:active {
    transform: translateY(2px);
    box-shadow: 0 0px #2ecc71;
    /* Lifts the button slightly on hover */
}

.toggle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.switch {
    margin-left: 30%;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.secret {
    margin: 5px;
    font-size: 12px;
}